<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Uploader</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    </head>

    <body>
        <section class="section" id="app">
            <div class="container">
                <h1 class="title mb-6">Uploader</h1>

                <div class="file">
                    <label class="file-label">
                        <input type="file" ref="file" class="file-input" @change="selectFile" multiple>

                        <span class="file-cta">
                            <span class="file-label">Choose a file...</span>
                        </span>
                    </label>
                </div>

                <button class="button is-primary mt-2" v-if="documents.length" @click="upload">Upload</button>

                <div 
                    class="notification mt-6"
                    v-if="documents.length"
                >
                    <p v-for="document in documents">
                        [[ document.name ]] [[ document.status ]]
                    </p>
                </div>
            </div>
        </section>

        <script src="https://unpkg.com/vue@3"></script>
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <script>
            const { createApp } = Vue

            createApp({
                data() {
                    return {
                        documents: []
                    }
                },
                delimiters: ['[[', ']]'],
                methods: {
                    selectFile() {
                        Array.from(this.$refs.file.files).forEach(file => {
                            this.upload(file)

                            this.documents.push({
                                'name': file.name,
                                'status': 'is uploading'
                            })
                        })
                    },
                    upload(file) {
                        this.progress = 0

                        this.performUpload(file)
                        .then(response => {
                            this.documents.forEach(document => {
                                if (document.name === file.name) {
                                    document['status'] = 'is uploaded'
                                }
                            })
                        })
                        .catch(error => {
                            this.documents.forEach(document => {
                                if (document.name === file.name) {
                                    document['status'] = 'failed'
                                }
                            })
                        })
                    },
                    performUpload(file) {
                        let formData = new FormData()
                        formData.append('document', file)

                        return axios
                            .post('/upload/', formData, {
                                headers: {
                                    "Content-Type": "multipart/form-data",
                                    "X-CSRFToken": "{{ csrf_token }}"
                                }
                            })
                    }
                }
            }).mount('#app')
        </script>
    </body>
</html>